<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>531610678496-u1dmcrulu6h6rh5jttt2samjlsco0l9d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.531610678496-u1dmcrulu6h6rh5jttt2samjlsco0l9d</string>
	<key>API_KEY</key>
	<string>AIzaSyDUL-r_2aG3j8SCAZR2Yliglar5_vAEy_o</string>
	<key>GCM_SENDER_ID</key>
	<string>531610678496</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.TheRecipeApp</string>
	<key>PROJECT_ID</key>
	<string>therecipeapp-a673f</string>
	<key>STORAGE_BUCKET</key>
	<string>therecipeapp-a673f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:531610678496:ios:521d3a78d90420db340c85</string>
</dict>
</plist>